<% layout('/layouts/boilerplate.ejs') -%>
    <!-- <h3>all listings</h3> -->

    <style>
        #filters{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

        }
        .all-catogeries{
            display: flex;
            overflow-y: auto;
        }

        .all-catogeries::-webkit-scrollbar {
            display: none;
        }

        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }

        .filter p{
            font-size: 0.8rem;
        }

        .filter p a{
            color: black;
            text-decoration: none;
        }

        .filter:hover i,
        .filter:hover a {
            color: #ff5733;
            text-decoration: underline;
        }

        .tax-info{
            display: none;
        }

        .tax-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 2.5rem;
            padding: 1rem;
            margin-left: 3rem;
            display: flex;
            align-items: center;
            font-size: 1rem;
        }

        .tax-toggle:hover{
            border-color: #fe424d;
        }

        .tax-toggle .form-check-input {
            background-color: gray;
        }

        .tax-toggle .form-check-input:checked {
            background-color:  #fe424d !important;
            box-shadow: none !important;  
            border-color: #fe424d !important;
        }

    </style>

    <div id="filters">
        <div class="all-catogeries">
            <div class="filter" id="icon1">
                <div><i class="fa-solid fa-fire"></i></div>
                <p><a href="/listings?category=trending">Trending</a></p>
            </div>
            
            <div class="filter" id="icon2">
                <div><i class="fa-solid fa-bed"></i></div>
                <p><a href="/listings?category=rooms">Rooms</a></p>
            </div>
            
            <div class="filter" id="icon3">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p><a href="/listings?category=iconic-cities">Iconic Cities</a></p>
            </div>
            
            <div class="filter" id="icon4">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p><a href="/listings?category=mountains">Mountains</a></p>
            </div>
            
            <div class="filter" id="icon5">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p><a href="/listings?category=castels">Castels</a></p>
            </div>
            
            <div class="filter" id="icon6">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p><a href="/listings?category=amazing-Pools">Amazing Pools</a></p>
            </div>
            
            <div class="filter" id="icon7">
                <div><i class="fa-solid fa-campground"></i></div>
                <p><a href="/listings?category=camping">Camping</a></p>
            </div>
            
            <div class="filter" id="icon8">
                <div><i class="fa-solid fa-cow"></i></div>
                <p><a href="/listings?category=farms">Farms</a></p>
            </div>
            
            <div class="filter" id="icon9">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p><a href="/listings?category=arctic">Arctic</a></p>
            </div>
            
            <div class="filter" id="icon10">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p><a href="/listings?category=domes">Domes</a></p>
            </div>
            
            <div class="filter" id="icon11">
                <div><i class="fa-solid fa-ship"></i></div>
                <p><a href="/listings?category=boats">Boats</a></p>
            </div>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label lable-tax" for="switchCheckDefault">Tax</label>
            </div>
        </div>
    </div>
     
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
        <%for(listing of allListings){%>
            <a href="/listings/<%= listing.id %>" class="listing-link">
                <div class="card listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title %>
                            </b><br>
                            &#8377;<%= listing.price.toLocaleString("en-IN")%> / night 
                            <i class="tax-info">&nbsp; &nbsp;+18% GST</i> <br> <br>
                        </p>
                    </div>
                </div>
            </a>
        <%}%>
    </div>


<script>

    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display !="inline"){
                info.style.display = "inline";
            }
            else{
                info.style.display = "none";
            }
        }
    });

</script>
    