<% layout('/layouts/boilerplate.ejs') -%>

    <div class="heading">
        <h2>Welcome to Wanderlust, <span class="name"><%= currentUser.username %> !!</span></h2>
    </div>

    <div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="card shadow p-4" style="width: 400px; border-radius: 15px;">
            <h3 class="text-center mb-4">Book Your Stay</h3>
            <form action="/listings/<%= listing._id %>/bookings" method="POST" novalidate class="needs-validation">
                <!-- Check In -->
                <div class="mb-3">
                    <label class="form-label">Check In</label>
                    <input type="date" name="booking[checkIn]" class="form-control" required>
                    <div class="valid-feedback">checkIn Datelooks good!</div>
                </div>
                <!-- Check Out -->
                <div class="mb-3">
                    <label class="form-label">Check Out</label>
                    <input type="date" name="booking[checkOut]" class="form-control" required>
                    <div class="invalid-feedback">checkOut Date must be require looks good!</div>
                </div>
                <!-- Button -->
                <button class="btn btn-danger w-100">Confirm Booking</button>
            </form>
        </div>
    </div>

