<% layout('/layouts/boilerplate.ejs') -%>

<div class="signup-wrapper">

    <div class="signup-box">

        <h3 class="text-center mb-4">SignUp</h3>

        <form action="/signup" method="post">

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button class="btn btn-danger w-100">SignUp</button>

            <p class="text-center mt-3">
                Already have an account?
                <a href="/login" class="text-danger">Login</a>
            </p>

        </form>

    </div>

</div>